body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #2e0f4f;   
    color: #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: radial-gradient(#5e3a3a 1px, transparent 1px);
    background-size: 20px 20px;
  }
  
  .container {
    text-align: center;
    padding: 30px 20px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
  }
  
  .highlight {
    font-family: 'Brush Script MT', cursive;
    font-size: 48px;
    margin: 10px 0;
    color: #ffde59;
    text-shadow: 0 0 10px #ffde59;
  }
  
  .sanskrit {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .quote {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .uni p {
    margin: 4px;
    font-weight: bold;
  }
  
  .cap-icon {
    font-size: 50px;
    margin: 20px 0;
  }
  
  .message {
    margin: 20px auto;
    line-height: 1.5;
    font-size: 16px;
    max-width: 90%;
  }
  
  .activities {
    font-style: italic;
    font-size: 16px;
    margin: 20px 0;
  }
  
  .countdown {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
    font-size: 18px;
  }
  
  .countdown div {
    background-color: #ffd700;
    color: #4b2e2e;
    padding: 10px;
    border-radius: 8px;
    min-width: 60px;
  }
  
  .telegram {
    background-color: #ffd700;
    color: #4b2e2e;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
  }
  

  .telegram-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  